
<ion-content [fullscreen]="true">
  
  
  <div class="container">
    <!-- <h1>Esta es la pagina principal</h1>

    <ion-button (click)="volverSinCerrarSesion()"> Volver sin cerrar sesion</ion-button>
    <ion-button (click)="volverYCerrarSesion()"> Volver y cerrar sesion</ion-button> -->

    <div class="title-container">
      <h1>Alarma Anti-Robo</h1>

      <h2 *ngIf="!encendido">Presione el boton para iniciar la alarma</h2>
      <h2 *ngIf="encendido">Presione el boton para apagar la alarma</h2>
  
    </div>

    <div class="button-container">

      
        <ion-img *ngIf="!encendido" class="boton-img" src="/assets/apagado.png" alt="" (click)="cambiarEstadoAlarma()"></ion-img>
      
      
        <ion-img *ngIf="encendido" class="boton-img"src="/assets/encendido.png" alt="" (click)="cambiarEstadoAlarma()"></ion-img>
      
        <div class="text-container">
          <h3>{{accelerationX}}</h3>
          <h3>{{accelerationZ}}</h3>
          <h3>{{accelerationY}}</h3>
          <ion-button (click)="vibracion()">Vibracion</ion-button>
        </div>
        


    </div>

    
  </div>
</ion-content>
