<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Hola </h1>
  <app-explore-container name="Tab 1 page">
    
  </app-explore-container>
</ion-content> -->
<!-- <div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" [(ngModel)]="user" placeholder="name@example.com">
  <label for="floatingInput">Email </label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="pass" placeholder="Password">
  <label for="floatingPassword">Contraseña</label>
</div>

<button class="w-100 m-1 btn btn-lg btn-primary" type="submit" (click)="login(user,pass)">Ingresar</button> -->

<ion-content [fullscreen]="true">

  
  
  <div class="container"  *ngIf="screen == 'signin'">
    <div class="icon ion-text-center">
      <img src="assets/icon.png">

    </div>
    <h1 class="heading ion-text-center">👋 Bienvenido a la Alarma Anti Robo<br><br></h1>
    <p class="para">Identifícate para continuar!</p>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Correo</legend> 
          <ion-input class="input" aria-label="email" (keyup.enter)="login()" formControlName="email" type="email" placeholder="nombre@dominio.com"></ion-input>
        </fieldset>
      </ion-item>

      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Contraseña</legend> 
          <ion-input class="input" aria-label="password"  (keyup.enter)="login()" formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <ion-input type="submit" (keydown.enter)="login()"
       style="position: absolute; left: -9999px; width: 1px; height: 1px;"
      />
      
      <ion-button class="login-button" type="submit" (click)="login()" expand="block">Ingresar</ion-button>
      
      

    </form>

    <div class="ion-text-center">
      <h2 class="texto-login">Autocompletar datos</h2>
      <div class="container button-container">


        <div class="contenedor-imagen-info">
          <p>Admin</p>
          <button class="img-button" (click)="completarDatos('admin@admin.com','111111')">
            <img class="img-user" src="/assets/admin.png" alt="">
          </button>
        </div>
        <div class="contenedor-imagen-info">
          <p>Invitado</p>
          <button class="img-button" (click)="completarDatos('invitado@invitado.com','222222')">
            <img class="img-user" src="/assets/invitado.png" alt="">
          </button>
        </div>
        <div class="contenedor-imagen-info">
          <p>Usuario</p>
          <button class="img-button" (click)="completarDatos('usuario@usuario.com','333333')">
            <img class="img-user" src="/assets/usuario.png" alt="">
          </button>
        </div>
        <div class="contenedor-imagen-info">
          <p>Anónimo</p>
          <button class="img-button" (click)="completarDatos('anonimo@anonimo.com','444444')">
            <img class="img-user" src="/assets/anonimo.png" alt="">
          </button>
        </div>
        <div class="contenedor-imagen-info">
          <p>Tester</p>
          <button class="img-button" (click)="completarDatos('tester@tester.com','555555')">
            <img class="img-user" src="/assets/tester.png" alt="">
          </button>
        </div>
        
        <!-- <button class="img-container">
          <img src="/assets/programador.png" alt="">
          
        </button>
        
        <button class="img-container">
          <img src="/assets/programador.png" alt="">
          <p>Tester</p>
        </button>
        <button class="img-container">
          <img src="/assets/programador.png" alt="">
        </button> -->
  
        <!-- <div class="img-container">
          <img src="/assets/programador.png" alt="">
        </div>
        <div class="img-container">
          <img src="/assets/programador.png" alt="">
        </div>
        <div class="img-container">
          <img src="/assets/programador.png" alt="">
        </div>
        <div class="img-container">
          <img src="/assets/programador.png" alt="">
        </div>
        <div class="img-container">
          <img src="/assets/programador.png" alt="">
        </div> -->
        
        
        
  
  
      </div>
    </div>

    
  </div>

  


  
  


</ion-content>


